<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlashCode</title>
</head>

<body>
            <a href="/users/sign-in">Sign In</a>
            <a href="/users/new">Register</a>

                    <p class="clear">
                        <strong>logged_in:</strong> {{logged_in}}
                        <br>
                        <strong>user_email:</strong> {{user_email}}
                        <br>
                        <strong>user_id:</strong> {{user_id}}
                        <br>
                        <strong>company:</strong> {{company}}
                        <br>
                        <strong>username:</strong> {{username}}</p>
                    
                    
                    {{{ body }}}
</body>

</html>